<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light my-1">
        <div class="card-header" style="font-weight: bolder">
<!--             [ngClass]="-->
<!--          {-->
<!--            'qa': tenantData.tenantPurpose === 'QA',-->
<!--            'dev' : tenantData.tenantPurpose === 'DEV',-->
<!--            'prod': tenantData.tenantPurpose === 'PROD',-->
<!--            'stg': tenantData.tenantPurpose === 'STG',-->
<!--            'other': tenantData.tenantPurpose === 'OTHER'-->
<!--          }" -->

          <label data-toggle="tooltip" data-placement="right" title={{tenantData.tenantPurpose}}
                 style="font-size: large; align-content: center; horiz-align: center;
                 vertical-align: center; padding: 10px; margin-bottom: 8px; margin-right: 5px; border: 2px ; border-radius: 15% ">
            {{ title }}
          </label>
          <button class="btn btn-info btn-margin" style="margin-left: 25px  ;  margin-right: 25px ; margin-top: -2px;  alignment: right; height: 30px; font-size: smaller" (click)="EnableDisableUpdate()"
                  data-toggle="tooltip" data-placement="right" title="Enable / Disable">
            {{enableDisableTitle}}
          </button>
          <button class="btn btn-info btn-margin" style="margin-right: 25px ;  height: 30px; margin-top: -2px;  font-size: smaller" [disabled]="!updateEnabled" (click)="UpdateTenant()"
                  data-toggle="tooltip" data-placement="right" title="Update tenant">
            Update Tenant
          </button>
        </div>
        <div class="card-body">
          <ul class="list-inline ">
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">TNS Name: </label>
              </li>
              <li class="list-inline-item list-margin" >
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.tnsname" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item list-margin">
                <button class="btn" style="margin-bottom: 5px; height: 36px; width: 38px; background: cadetblue" (click)="copy2Clipboard(tenantData.tnsname)"
                        data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">TNS Address: </label>
              </li>
              <li class="list-inline-item list-margin" >
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.fulltns" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item list-margin">
                <button class="btn" style="margin-bottom: 5px; height: 36px; width: 38px; background: cadetblue" (click)="copy2Clipboard(tenantData.fulltns)"
                        data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">Agent UI: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.agentURI" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item">
                <button class="btn btn-margin" style="margin-bottom: 5px; " (click)="BrowseUrl(tenantData.agentURI)"
                        data-toggle="tooltip" data-placement="right" title="Browse Agent UI">
                  <img src="../../assets/agent.jpg" class="img-container"/>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">Agent Springboot admin: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.agentspringboot" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item">
                <button class="btn btn-margin" style="margin-bottom: 5px; " (click)="BrowseUrl(tenantData.agentspringboot)"
                        data-toggle="tooltip" data-placement="right" title="Browse OA/Agent Springboot admin">
                  <img src="../../assets/spring-boot-admin.png" class="img-container"/>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">Grafana URL: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.grafana" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item">
                <button class="btn btn-margin" style="margin-bottom: 5px; " (click)="BrowseUrl(tenantData.grafana)"
                        data-toggle="tooltip" data-placement="right" title="Browse Grafana">
                  <img src="../../assets/grafana.png" style="height: 24px; width: 24px"/>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">AOS Login: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.aosURI" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item">
                <button class="btn btn-margin" style="margin-bottom: 5px;" (click)="BrowseUrl(tenantData.aosURI)"
                        data-toggle="tooltip" data-placement="right" title="Browse AOS Login">
                  <img src="../../assets/aos.jpg" class="img-container"/>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">AOS User: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.userId" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item list-margin">
                <button class="btn" style="margin-bottom: 5px; height: 36px; width: 38px; background: cadetblue" (click)="copy2Clipboard(tenantData.userId)"
                        data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">AOS Password: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="password" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.aospassword" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item list-margin">
                <button class="btn" style="margin-bottom: 5px; height: 36px; width: 38px; background: cadetblue" (click)="copy2Clipboard(tenantData.aospassword)"
                        data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </button>
              </li>
            </ul>
            <ul class="list-inline ">
              <li class="list-inline-item list-margin">
                <label style="color: cadetblue; font-weight: bold; width: 200px">Kibana URL: </label>
              </li>
              <li class="list-inline-item list-margin">
                <input type="text" style="; width: 600px; font-style: italic" class="form-control" [(ngModel)]="tenantData.kibana" [disabled]="!updateEnabled">
              </li>
              <li class="list-inline-item">
                <button class="btn btn-margin" style="margin-bottom: 5px;" (click)="BrowseUrl(tenantData.kibana)"
                        data-toggle="tooltip" data-placement="right" title="Browse Kibana">
                  <img src="../../assets/kibana.png" style="height: 24px; width: 24px"/>
                </button>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


