.btn-margin {
  margin-left: 5px;
  padding: 5px;
 }

.list-margin {
  margin: 5px;
}

.qa {
  background-color: green;
}

.dev {
  background-color: lightblue;
}

.prod {
  background-color: red;
}

.stg {
  background-color: orange;
}

.other {
  background-color: pink;
}
