<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-4">
        <div class="card-body">
          <h3 class="card-title text-center text-white py-3">{{ title }}</h3>
          <ul class="text-center list-inline " >
            <li class="list-inline-item">
                <label style="; color: darkorange; font-size: large">Environment: </label>
            </li>
            <li class="list-inline-item">
              <select class="form-control custom-select" style="margin-top: -5px; font-style: italic; width: 250px; " (change)="selectionChanged($event)">
                <option *ngFor="let tenantId of tenantsDisplay">{{tenantId}}</option>
              </select>
            </li>
            <li class="list-inline-item">
              <a class="text-center btn btn-light" style="margin-top: -5px" (click)="getTenantDetails()" data-toggle="tooltip" data-placement="right" title="Show tenant info">Show info
                <img src="../assets/info.jpg" class="img-container"/>
              </a>
            </li>
            <li class="list-inline-item" hidden>
              <a class="text-center btn btn-warning"  (click)="createNewTenant()" data-toggle="tooltip" data-placement="right" title="Create a tenant">
                <img src="../assets/new.png" class="img-container"/>
              </a>
            </li>
          </ul>
          <ul class="text-center list-inline ">
            <li class="list-inline-item">
              <a class="text-center btn btn-info" (click)="getTenantData()">Generate Token</a>
            </li>
          </ul>

          <!--Token Results -->
          <div [hidden]="!showResults" id="results">
            <ul class="text-center list-inline ">
              <li class="list-inline-item" >
                <label style="color: cadetblue; font-weight: bold; width: 100px">API Key: </label>
              </li>
              <li class="list-inline-item" >
                <input type="text" style="; width: 450px; font-style: italic" class="form-control" id="apiKey" [(ngModel)]="key">
              </li>
              <li class="list-inline-item">
                <button class="btn" style="margin-bottom: 5px; height: 36px; width: 38px; background: cadetblue" (click)="copy2ClipboardApiKey()"
                        data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </button>
              </li>
              <li>
                <label [hidden]="hideSuccessMessageAPI" class="alert-box success" >Copied API Key</label>
              </li>
            </ul>
            <ul class="text-center list-inline ">
              <li class="list-inline-item" >
                <label style="color: cadetblue; font-weight: bold; width: 100px">Token: </label>
              </li>
              <li class="list-inline-item" >
                <input type="text" style="; width: 450px; font-style: italic" class="form-control" id="token" [(ngModel)]="token">
              </li>
              <li class="list-inline-item">
                <button class="btn" style="margin-bottom: 5px; height: 36px; width: 38px; background: cadetblue" (click)="copy2ClipboardToken()"
                        data-toggle="tooltip" data-placement="right" title="Copy to clipboard">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </button>
              </li>
              <li>
                <label [hidden]="hideSuccessMessageToken" class="alert-box success" >Copied Token</label>
              </li>
            </ul>
          </div>

        </div>

      </div>
      <router-outlet></router-outlet>

      <div [hidden]="!showDetails" style="margin-top: -15px">
        <app-tenant-details></app-tenant-details>
      </div>

    </div>
  </div>
</div>
