.alert-box {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 35px;
  vert-align: middle;
  alignment: center;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;

}
